/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
@import url('components/banner.css');
@import url('components/container.css');
@import url('components/cards-container.css');
@import url('components/content-section.css');


body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

a {
  text-decoration: none;
}

/* Custom design below! */


.footer {
    text-align: center;
    padding: 21px;
    background-color: #101727;
    margin: 20px 0;
}

.links > p {
  color: white;
}

.fa-fw {
    text-align: center;
    width: 1.25em;
}

.footer a {
  font-size: 30px;
  color: #ce6666;
}
